.home {
  &.grid-container {
    background-color: $light-blue;
  }
  
  .callout {
    background-color: transparent;

    & > .title {
      color: $lighter-gray;
      font-size: 4.2rem;
    }
    
    & > .headline {
      color: $light-gray;
      font-size: 2.9rem;
    }
  }

  .social-medias {
    padding: 2rem 0;

    & > a > i {
      @include border-rounded;
      margin: .1rem 0.4rem;
      padding: .7rem 0.8rem;

      transition: background 0.2s ease,
        color 0.2s ease;
    }
  }
}
