<!doctype html>
<html class="no-js" lang="fr">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Emmanuel Gautier</title>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</head>

<body>
  <!-- <div class="top-bar show-for-medium">
    <div class="top-bar-left">
      <ul class="menu">
        <li>
          <a class="logo" href="https://www.emmanuelgautier.fr">
            <img class="emmanuelgautier-logo top-bar-logo" src="{{root}}assets/img/emmanuelgautier.png" alt="Emmanuel Gautier">
          </a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">

      </ul>
    </div>
  </div> -->

  {{> body}}
</body>

</html>